.TweetList {
    display: flex;
    background-color: #ABE1FA;
}

.Tweet {
    width: 100%;
}

form {
    margin-left: 1.5%;
    width: 100%;
}

.Section1 {
    display: flex;
}

.tweet {
    font-size: 15px;
}

.Section2 {
    display: flex;
    margin-left: 4%;
    margin-bottom: 1%;
    padding-top: 1%;
}

.content {
    margin-left: 1%;
    max-width: 50%;
    flex-direction: column;
}

.userName {
    font-weight: bold;
}

.like {
    margin-left: 5%;
}

.tweetContent {
    border-bottom: 0.5px solid #575555;
}

.detailLink {
    color:inherit;
    text-decoration: none;
}
