.formName {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.formDiscription {
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 12px;
}

.formFiled {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.formFiled input {
	border-radius: 4px;
	padding: 20px;
	border: 1px solid;
	margin-bottom: 10px;
}

.formFiled label {
	font-size: 15px;
	font-weight: 450;
	margin-bottom: 3px;
}